/* พื้นหลังสี่เหลี่ยมเทา */
.main-background {
  position: absolute;
  width: 1540px;
  height: 1199px;
  left: 0px;
  top: 61px;

  background: #F3F3F3;
}

/* แถบสี่เหลี่ยมขาวครอบเมนู */
.menu-background {
  position: absolute;
  width: 1540px;
  height: 111.21px;
  left: 0px;
  top: 68px;

  background: #FFFFFF;
}

/* ขนาดฟ้อน 24px */
.font-size-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;

  color: #000000;
}

/* ขนาดฟ้อน 22px */
.font-size-2 {
  position: absolute;
  left: 30px;
  top: 15px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  color: #58595B;
}

/* ขนาดฟ้อน 18px */
.font-size-3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #58595B;
}

/* ตำแหน่ง to-do */
.todo-position{
  position: absolute;
  width: 72px;
  height: 27px;
  left: 654px;
  top: 65px;
}

/* ตำแหน่ง position */
.done-position {
  position: absolute;
  width: 72px;
  height: 27px;
  left: 794px;
  top: 65px;
}


/* แต่งกล่องสี่เหลี่ยม */
.box-style {
  background: #FFFFFF;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
}

/* กล่องพื้นหลังสี่เหลี่ยมสำหรับคลุม dropdown, to-do list*/
.main-todo-box {
  position: absolute;
  width: 1203px;
  height: 900px;
  left: 169px;
  top: 250px;
}

/* กล่อง dropdown เลือก class */
.dropdown-class-box {
  position: absolute;
  width: 213px;
  height: 46px;
  left: 60px;
  top: 60px;

  border: 1px solid #C1C1C1;
  box-sizing: border-box;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

/* กล่องครอบ to-do list อย่างเดียว */
.sub-todo-box {
  position: absolute;
  width: 960px;
  height: 120px;
  left: 120px;
  top: 180px;

  border: 1px solid #C1C1C1;
  box-sizing: border-box;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ยังไม่ได้ใช้ */
.text-all-class {
  position: absolute;
  left: 30px;
  top: 15px;
}

/* จัดตำแหน่งข้อความ : หัวข้อที่ต้องทำ */
.todo-topic-position {
  position: absolute;
  width: 214px;
  height: 30px;
  left: 53px;
  top: 26px;

  color: #58595B;
}

/* จัดตำแหน่งข้อความ : ชื่อวิชา */
.todo-description-position {
  position: absolute;
  width: 130px;
  height: 21px;
  left: 63px;
  top: 61px;

  color: #58595B;
}

/* จัดตำแหน่งข้อความ : กำหนดส่ง */
.todo-date-position {
  position: absolute;
  width: 300px;
  height: 21px;
  left: 203px;
  top: 61px;

  color: #B6B6B6;
}

/* จัดตำแหน่งข้อความ : ส่งงาน */
.todo-turn-in-position {
  position: absolute;
  width: 106px;
  height: 28px;
  left: 800px;
  top: 26px;

  color: #58595B;
}

/* จัดตำแหน่ง footer : to-do list */
.todo-footer-position {
  position: absolute;
  width: 1540px;
  height: 152px;
  left: 0px;
  display: block;
  top:1260px;
}
